# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dependencies
node_modules
.pnp.*

# Build outputs
dist
.next
build

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Misc
.DS_Store
*.log

# turbo
.turbo

# Testing
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local files
*.local

# Chrome Extension
*.crx
*.pem

# Prisma
prisma/*.db

